@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Foldit:wght@100;400;600&display=swap');

* {
	box-sizing: border-box;
    margin: 0px;
}
img {
	display: block;
	max-width: 100%;
    margin: 0px;
}

main {
    display: flex;flex: 1 2 100px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    padding: 1rem;
    max-width: 400px;
    max-height: 500px;
    overflow: hidden;

}

.row2 {
    padding: 1rem;
    max-width: 800px;
    max-height: 500px;
    overflow: hidden;
}


.row3 {
    padding: 2rem;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
}


p {
    color: #3a3a3b;
    font: 1rem sans-serif;
    margin: auto;
}

li{
    line-height: 1.2rem;
}

h1 {
    color: #d0610d;
    text-shadow: #420916;
    font-family: 'Foldit',cursive; ;
    font-size: 4rem;
    font-weight: 800;
    line-height: 4rem;
    text-shadow: 1px 1px #420916;

}

h2 {
    font-family: 'Foldit',cursive;
    color: #ff1493;
    font-weight:200;
    font-size: 3.5rem;
    line-height: 4rem;
    text-shadow: 1px 1px #420916;
    
}

h3 {
    font-family: 'Foldit',cursive;
    font-size: 2rem;
    color: #838385;
    text-shadow: 1px 1px #420916;
    font-weight: 400;
}