@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Foldit:wght@100;400;600&family=Notable&family=Noto+Sans+Linear+B&display=swap');

* {
	box-sizing: border-box;
    margin: 0px;
}
img {
	display: block;
	max-width: 100%;
    margin: 0px;
}

main {
    display: flex;
    flex: 1 2 100px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    font-family: 'Noto Sans Linear B', sans-serif;
    font-size: .8rem;
}

.row {
    padding: 1rem;
    max-width: 400px;
    max-height: 500px;
    overflow: hidden;
    margin: 1rem;

}

.row2 {
    padding: 1rem;
    max-width: 800px;
    max-height: 500px;
    overflow: hidden;
    margin: 1rem;
}


.row3 {
    padding: 2rem;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    margin: 1rem;
}


p {
    font-family: font-family: 'Noto Sans Linear B', sans-serif;
    font-size: 1rem;
    margin: auto;
}

li{
    line-height: 1.2rem;
}

h1 {
    font-family: 'Notable', sans-serif;
    font-size: 2.5rem;
    line-height: 3rem;
    color: #a9d312;
    text-shadow: 1px 1px #420916;

}

h2 {
    font-family: 'Notable', sans-serif;
    color: #ff1493;
    font-size: 2.4rem;
    line-height: 2.5rem;
    text-shadow: 1px 1px #420916;
    
}

h3 {
    font-family: 'Foldit', cursive;
    font-size: 2rem;
    color: #6464d6;
    text-shadow: 1px 1px #420916;
    font-weight: 400;
}
footer {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 27, 0.5));
    color: #ff1493;
    font-size: .3rem;
    font-family: 'Noto Sans Linear B', sans-serif;
    line-height: 1rem;
    margin-bottom: -8px;
    padding: -8px;
}